.card__row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 282px));
    gap: 30px;
}

.card {
    width: 282px;
    height: 256px;
    box-shadow: $card-shadow;
    border-radius: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
    color: $color-text;
    
    &:hover {
        transform: translateY(-5px);
    }
}

.card__title {
    padding: 20px;
}
