.recipe {
    margin-bottom: $margin-section;
}
.recipe__row {
    display: flex;
    img {
        border-radius: 10px;
        max-width: 400px;
    }
    margin-bottom: 40px;
}
.recipe__title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
}
.recipe__instructions {
    margin-bottom: 40px;
}

iframe {
    width: 700px;
    height: 400px;
}
