.serach {
}
.search__input {
    width: 353px;
    height: 40px;
    border-radius: 13px 0 0 13px;
    padding: 0 20px;
    margin-right: 20px;
}

.btn--search {
    border-radius: 0 13px 13px 0;
    font-size: 16px;
}

.card__search {
    margin-bottom: 50px;
}

.title-search {
    text-align: center;
    margin: 100px 0;
}